<% layout("/layouts/boilerplate") %>
<div class="row mt-3" >
    <div class="col-8 offset-3">
<body>
   
    <h3>Listing details</h3>
</div>
    <div class="card col-6 offset-3 show-card mt-2">
        <img src="<%= list.image %>" class="card-img-top show-img" alt="listing-image">
  <div class="card-body">
    <p class="card-text"><b><%= list.title %></b><br>
        <%= list.description %><br>
        &#8377;<%= list.price.toLocaleString("en-IN") %><br>
        <%= list.location %><br>
        <%= list.country %><br>

    </p>
  </div>
    </div>
    <br>
    <div class="btns">
        <a href="/listings/<%= list._id %>/edit" class="btn btn-dark col-1 offset-3 edit-btn">Edit </a>
        <br><br>
        <form method="POST" action="/listings/<%= list._id %>?_method=DELETE" >
            <button class="btn btn-dark offset-5">Delete</button>
        </form>
    </div>
    

</body>
</div>