<% layout("/layouts/boilerplate") %>
<body>
    <h3>Listing details</h3>
    <ul>
        <li><%= list.title %></li>
        <li><%= list.description %></li>
        <li>&#8377;<%= list.price.toLocaleString("en-IN") %></li>
        <li><%= list.location %></li>
        <li><%= list.country %></li>
    </ul>
    <br>
    <a href="/listings/<%= list._id %>/edit">Edit this listing</a>
    <br><br>
    <form method="POST" action="/listings/<%= list._id %>?_method=DELETE" >
        <button>Delete this listings</button>
    </form>

</body>
